/******************carousel**********************/
#carousel, #carousel-1{
	position:relative;
	border:1px solid #d0d0d0;
	background:#fff;
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#8d8c8c;
	border-radius:6px;
}
#carousel{padding:24px 29px 25px;}
#carousel, #carousel-1{padding:24px 29px 22px;}
	#carousel .es-carousel, #carousel-1 .es-carousel{width:100%; overflow:hidden;}
		#carousel li, #carousel-1 li{float:left; position:relative;}
#carousel .es-nav-prev, #carousel .es-nav-next,
#carousel-1 .es-nav-prev, #carousel-1 .es-nav-next{
	display:block !important;
	width:18px;
	height:18px;
	overflow:hidden;
	background-position:center top;
	background-repeat:no-repeat;
	position:absolute;
	top:30px;
	text-indent: -100%;
	font-size:0;
	line-height:0;
	white-space: nowrap;
	cursor:pointer;
	z-index:996;
}
#carousel .es-nav-prev, #carousel-1 .es-nav-prev{background-image:url(../images/carousel-prev.png); right:43px;}
#carousel .es-nav-next, #carousel-1 .es-nav-next{background-image:url(../images/carousel-next.png); right:25px;}
	#carousel .es-nav-prev:hover, #carousel .es-nav-next:hover,
	#carousel-1 .es-nav-prev:hover, #carousel-1 .es-nav-next:hover{background-position:0 -19px;}

#carousel h3, #carousel-1 h3{
	font-size:17px;
	line-height:22px;
	color:#959494;
	padding-bottom:12px;
	border-bottom:1px solid #d0d0d0;
}
	#carousel h3{margin-bottom:20px;}
	#carousel-1 h3{margin-bottom:17px;}
#carousel a{color:inherit;}
/*-------------------------------------------------------------------*/

@media only screen and (max-width: 995px) {
	#carousel{padding:20px 19px;}
		#carousel li{width:162px !important;}
	#carousel .es-nav-prev{top:23px; right:35px;}
	#carousel .es-nav-next{top:23px; right:17px;}
	#carousel h3{padding-bottom:8px;}
}

@media only screen and (max-width: 767px) {
	#carousel li{width:180px !important;}
	#carousel-1 li{width:360px !important;}
}

@media only screen and (max-width: 479px) {
	#carousel li{width:120px !important;}
	#carousel-1 li{width:240px !important;}
}